In [1]:
import pandas as pd
import numpy as np

In [2]:
def findMissing(data):
    print(f'Total Rows: {data.shape[0]}\n')
    for c in data.columns:
        missing = data.shape[0] - data[c].describe().loc['count']
        if missing>0:
            print('-----------------------')
            print(c)
            print('-----------------------')
            print(data[c].describe())
            print(f'\nMissing Values: {int(missing)}\n')

In [3]:
netflix_data = pd.read_csv('./data/netflix_titles.csv')
hulu_data = pd.read_csv('./data/hulu_titles.csv')
disney_plus_data = pd.read_csv('./data/disney_plus_titles.csv')
amazon_prime_data = pd.read_csv('./data/amazon_prime_titles.csv')

In [4]:
netflix_data['platform'] = 'Netflix'
hulu_data['platform'] = 'Hulu'
disney_plus_data['platform'] = 'Disney'
amazon_prime_data['platform'] = 'Amazon Prime Video'

In [5]:
data = pd.concat([netflix_data, hulu_data, disney_plus_data, amazon_prime_data])

In [6]:
data = data.drop(columns=['description', 'rating', 'cast', 'director', 'date_added'])
findMissing(data)

Total Rows: 22998

-----------------------
country
-----------------------
count             11499
unique              886
top       United States
freq               4997
Name: country, dtype: object

Missing Values: 11499

-----------------------
duration
-----------------------
count        22516
unique         253
top       1 Season
freq          4183
Name: duration, dtype: object

Missing Values: 482

In [7]:
data['country'].replace([np.nan], 'worldwide', inplace=True)

In [8]:
findMissing(data)

Total Rows: 22998

-----------------------
duration
-----------------------
count        22516
unique         253
top       1 Season
freq          4183
Name: duration, dtype: object

Missing Values: 482

In [9]:
data = data.dropna(subset=['duration'])

In [10]:
findMissing(data)

Total Rows: 22516

In [11]:
data.to_csv('./data/clean_data.csv')